<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.delluna.dao.RsvDAO">

	<select id="getRsvList" parameterType="String" resultType="RsvDTO">
		SELECT * FROM rsv
	</select>

	<insert id="insertrsv" parameterType="RsvDTO">
		INSERT INTO rsv(
		rsv_id,ac_id,username,rsv_ac_name,rsv_user_max,rsv_user_min,
		rsv_room_name,rsv_price,rsv_check_in,rsv_check_out,rsv_start,rsv_end,rsv_ac_thumbnail)
		VALUES(rsv_id_seq.nextval,#{ac_id},#{username},#{rsv_ac_name},#{rsv_user_max},#{rsv_user_min},
		#{rsv_room_name},#{rsv_price},#{rsv_check_in},#{rsv_check_out},TO_DATE(#{rsv_start},'YYYY-MM-DD'),TO_DATE(#{rsv_end}, 'YYYY-MM-DD'),#{rsv_ac_thumbnail})
	</insert>

	<delete id="delete" parameterType="int">
		DELETE FROM rsv
		WHERE
		rsv_id=#{rsv_id}
	</delete>

</mapper>