.roomlayout4_2_1 {
    margin:3px;
  }

.roomlayout4_2_1 img {
    width: 70px;
    height: 50px;
  }
.roomlayout4_2_1_text {
    font-size: 13px;
    font-weight: bold;
    font-family: "NanumSquareNeo-Variable";
  }